
body {
    padding: 0;
    margin:  0;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color:   #49827B;
}

.body, .time{
    display: none;
}

.drawer {
    background:  black;
}

.item {
    background: rgba(66,66,66, .5);
}

.item .title,
.item .body {
    color: white;
}


.searchdiv {
    display: none;
}
#feeddiv {
    top: 0;
}

.item .link {
    white-space: nowrap;
}
.ico {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}
